#TuArte {
    position: relative;
    margin-bottom: 0%;
   
    margin-top: 0%;
    
}

#TuArte img{    
    width: 100%;
    height: 100%;
    }

#TuArte .container{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#TuArte h2 {    
    color: rgb(82, 11, 247);
    font-size: 25px;
}

#TuArte p {
    color: rgb(243, 5, 5);
    margin-bottom: 20px;
    
}
